$color-light-gray: #e1e5eb;
$color-white: #fdffff;
$color-orange: #f87808;
$color-light-orange: #ff9100;
$color-black: #070707;
$color-dark-gray: #7e7b7b;
$color-dark-blue: #2f65e2;
$color-light-blue: #d1efff;
